{"plugins":[["expo-build-properties",{"ios":{"flipper":true}}]],"name":"test","slug":"test","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.vitrion.test"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"}},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"32147586-0395-47a1-8af6-7e4a13b07f1b"}},"sdkVersion":"49.0.0","platforms":["ios","android"]}